.partners-slider {
  padding: 20px 0;
  color: red;
  display: flex;
}

.partners-slider img {
  height: 150px;
  object-fit: scale-down;
}

@media (max-width: 320px) {
  .partners-slider {
    margin: 0 auto;
    padding: 30px 0;
    width: 250px;
  }

  .partners-slider img {
    height: 35px;
  }
}

