.winners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 43px;
  grid-row-gap: 1em;
  margin-bottom: 50px;
}

@media (max-width: 320px) {
  .winners {
    grid-template-columns: 1fr;
    margin-bottom: 25px;
  }

  .winners div:nth-child(4) {
    display: none;
  }
  .winners div:nth-child(5) {
    display: none;
  }
  .winners div:nth-child(6){
    display: none;
  }
}