.top-menu {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

@media (max-width: 320px) {
  .top-menu  {
    height: 30px;
    padding: 0;
  }
}

.top-menu .wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 72px;
}

@media (max-width: 320px) {
  .logo  {
    margin-left: 5px;
    height: 20px;
  }
  
  .top-menu .wrapper {
    display: none;
  }
}

.search {
}