.award {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 35px;
}

.award::after {
  content:  '';
  position: absolute;
  bottom: -18px;
  width: 100%;
  height: 1px;
  background-color: #C4C4C4;
}

.award-info {
  max-width: 350px;
}

.award-text {
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
}

.award-pdf {
  width: 230px;
  height: 294px;
  background-color: #C4C4C4;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.award-pdf h3 {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
}