.card-news-page__img {
  width: 640px;
  height: 360px;
  object-fit: cover;
  float: right;
  margin-left: 30px;
  margin-bottom: 25px;
}

.card-news-page__title {
  color: var(--accent-color);
  font-size: 24px;
  letter-spacing: -0.025em;
}

.card-news-page__text {
  text-align: justify;
  font-size: 18px;
  letter-spacing: -0.025em;
  line-height: 30px;
}

.card-news-page__back {
  color: var(--accent-color);
  font-size: 18px;
}

.card-news-page__back:hover {
  color: #9D251A;;
}