.logout-btn {
  padding-left: 95px;
  display: flex;
  align-items: center;
  padding-right: 31px;
  cursor: pointer;
}

.account-link {
  margin-top: 3px !important;
  margin-right: 15px !important;
  color: var(--accent-color) !important;
  text-decoration: none !important;
}

.account-link:hover {
  color: #83231a !important;
}

.logout-btn span{
  font-size: 16px;
  line-height: 19px;
}