.account {
  height: 779px;
  margin-top: 27px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 38px;
  grid-template-areas: "a b"
                       "a c"
                       "a c";
  grid-template-columns: 746px 680px;
}