.about-contest 
{
	padding-top: 59px;
	padding-bottom: 42px;
	display: flex;
	justify-content: space-between;
	font-family:Arial;
}

.about-contest-leftcont
{
	width:27%;
	text-transform:uppercase;
}

.about-contest-leftcont-heading
{
	display: flex;
	justify-content:flex-start;
	font-weight: bold;
	font-size: 64px;
	line-height: 85px;
	text-transform: uppercase;
	position: relative;
}

.about-contest-leftcont-heading::before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 6px;
	background-color: var(--accent-color);
}



.about-contest-leftcont-heading p
{
	margin:8% 0% 0% 0%;
}

.colortext
{
  
	margin-left:2%;
	font-size:120%;
	color: var(--accent-color);
}

.about-contest-leftcont-text
{
	text-align:justify;
	word-wrap:break-word;
	margin:0%;
	font-size: 18px;
	line-height: 160%;
	min-width: 387px;
}

.about-contest-rightcont
{
	margin-top:auto;
	margin-bottom:auto;
	/* width:70%; */
	text-align:justify;
	/* font-size:150%; */
	font-size: 24px;
	line-height: 28px;
}

.ul-flex-container
{
	list-style-type:none;
}

.ul-img
{
	margin-top:auto;
	margin-bottom:auto;
	width:7%;
	height:7%;
	margin-right:3%;
}

.img-pos
{
	display: flex;
	justify-content:flex-start;
	margin:5% 0% 5% 0%;
}

.img-pos li
{
	/* font-size:1.6vw;/ */
	margin-top:auto;
	margin-bottom:auto;
}


@media (max-width: 320px) {
	.about-contest {
		padding-top: 0px;
		padding-bottom: 0px;
		flex-direction: column;
		align-items: center;
	}
	.about-contest-leftcont-heading::before {
		display: none;
	}
	.about-contest-leftcont-heading {
		font-size: 46px;
		line-height: 46px;
	}
	.about-contest-leftcont {
		width: 100%;
		display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	}
	.about-contest-leftcont-text {
		font-size: 12px;
		line-height: 160%;
		min-width: auto;
	}
	.about-contest-leftcont p {
		width: 260px;
		margin-bottom: 0;
	}
	.about-contest-rightcont {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	.ul-flex-container {
		padding: 0 22px;
	}
	.ul-img {
		margin-left: 0;
		height: 44px;
		width: auto;
		margin-right: 25px;
	}
}