.card-work-page {
  display: flex;
  background-color: white;
  box-shadow: 0px 0px 11.97px rgba(0, 0, 0, 0.1);
  height: 751px;
  margin-top: 39px;
}

.tag {
  border: var(--accent-color-border-btn);
  font-size: 14px;
  line-height: 16px;
  padding: 5px 9px;
  border-radius: 5px;
  color: var(--accent-color);
  cursor: pointer;
  transition: all .5s ease;
}

.tag:hover {
  color: white;
  background-color: var(--accent-color);
}

.card-work-page-info {
  padding: 0 30px;
}

.card-work-page-info__comments {
  color: var(--accent-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}

.card-work-page-info__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: var(--accent-color);
  margin-bottom: 21px;
}

.card-work-page-info__description {
  margin-bottom: 17px;
}

.card-work-page-info__comment-input {
  width: 100%;
  border: 1px solid #C4C4C4;
  padding: 0 6px;
}

.card-work-page-info__comment-input::placeholder {
  color: #6F6F6F;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.card-work-page-info__comments-send-comment {
  display: flex;
  justify-content: space-between;
}

.card-work-page-info__comment-send {
  margin-left: 11px;
  padding: 7px 14px;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  border: var(--accent-color-border-btn);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: all .5s ease;
} 

.card-work-page-info__comment-send:hover:enabled {
  background-color: white;
  color: var(--accent-color);
}

.card-work-page-info__tags {
  display: flex;
  justify-content: space-between;
}

.card-work-page-info p{
  font-size: 18px;
  line-height: 21px;
  text-align: justify;
  margin-bottom: 11px;
}

.card-work-page-info__rating img{
  margin-right: 8px;
}

.card-work-page-img {
  background-color:#444444;
  object-fit: contain;
}

.comment-box {
  margin-top: 15px;
  padding: 10px 11px;
  height: 250px;
  overflow-y: auto;
}


.comment-box div:first-child{
  margin-top: 0;
}

.comment-box div{
  margin-top: 15px;
}