.works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 115px;
  grid-row-gap: 3em;
  padding: 50px 0;
}

@media (max-width: 320px){
  .works {
    grid-template-columns: 1fr;
    padding: 24px 0;
    grid-row-gap: 2em;
    justify-items: center;
  }

  .works a:nth-child(4) {
    display: none;
  } 
}