.footer {
  background-color: var(--accent-color);
  padding: 60px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.have-questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  font-size: 17.2713px;
  line-height: 24px;
  color: white;
  width: 361px;
}

.have-questions input,
.have-questions textarea {
  padding: 13px 22px;
  border: none;
  background-color: #9D251A;
  color: white;
}

.have-questions input::placeholder,
.have-questions textarea::placeholder {
  color: #E34333;
}


.have-questions input {
  height: 49px;
}

.have-questions p {
  margin: 0;
}

.have-questions textarea {
  height: 175px;
  resize: none;
}


.have-questions button {
  height: 56.82px;
  color: #9D251A;
  border: none;
  cursor: pointer;
}  

@media (max-width: 320px) {
  .footer {
    padding: 11px 0;
    /* margin: 25px; */
  }

  .footer-wrapper {
    align-items: center;
    justify-content: center;
  }

  .footer__map {
    display: none;
  }

  .have-questions {
    width: 292px;
    font-size: 10px;
    line-height: 14px;
  }

  .have-questions p {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
  }

  .have-questions input {
    height: 22px;
    margin-bottom: 12px;
    padding-left:  12px;
    padding-right: 12px;
  }
  
  .have-questions button {
    height: 37px;
    font-size: 13.6543px;
    line-height: 19px;
  }

  .have-questions textarea {
    height: 87px;
    margin-bottom: 12px;
  }

}