.search {
  width: 796px;
  height: 37px;
  border: 1px solid #DBDBDB;
  display: flex;
  margin-left: 13%;
  margin-right: 3%;
  justify-content: space-between;
}


.search__input {
  flex: 7.6;
  height: 100%;
  border: none;
}

@media (max-width: 320px) {
  .search  {
    width: 207px;
    height: 22px;
    margin-left: 15px;
    margin-right: 0;
  }
  .search__input {
    width: 100%;
  }
}

.search__btn {
  background-color: #F6F6F6;
  border: none;
  flex: 1;
  cursor: pointer;
}

@media (max-width: 320px) {
  .search__btn  {
    width: 48px;
  }
}

.search__btn img {
  padding-top: 3px;
}

@media (max-width: 320px) {
  .search__btn img  {
    height: 12px;
  }
}